.div-report-bouton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1.786rem; // 25px
}

img {
  height: 100%
}

@media (max-width: 54.786rem) { // 767px
   .div-report-bouton {
      display: none;
   }
}
