<h2>Liste déroulante</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Liste simple</h3>
    <div class="bloc-exemple">
      <p>
        <app-liste-deroulante-sample></app-liste-deroulante-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Liste avec sélection multiple hiérarchisée</h3>
    <div class="bloc-exemple">
      <p>
        <app-liste-deroulante-hierarchisee-sample></app-liste-deroulante-hierarchisee-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Liste avec sélection multiple simple</h3>
    <div class="bloc-exemple">
      <p>
        <app-liste-deroulante-multiple-sample></app-liste-deroulante-multiple-sample>
      </p>
    </div>
  </div>
</div>