<div class="row">
  <div class="col-12">
    <app-label-valeur [label]="'Numéro de PJD'" [valeur]="'1543 0099910'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Origine du débit'" [valeur]="'1 - Pièce de débit avec bases employeur'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Date de réception'" [valeur]="'05/03/2016'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Date limite de déclaration'" [valeur]="'15/01/2016'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Date limite légale de versement'" [valeur]="'15/12/2015'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Date limite tolérée de versement'" [valeur]="'18/12/2016'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
    <app-label-valeur [label]="'Origine de la date limite de versement'" [valeur]="'Terme légal'" [labelWidth]="243" [labelColumns]="6" [inputColumns]="6"></app-label-valeur>
  </div>
</div>