<div class="mb-4">
  <h3>Bouton de deuxième niveau</h3>
  <app-boutons-radio></app-boutons-radio>
</div>
<div class="mb-4">
  <h3>Zone liens externes</h3>
  <app-zone-liens-externes-sample></app-zone-liens-externes-sample>
</div>
<div class="mb-0">
  <h3>Arborescence sans cases à cocher</h3>
  <app-arborescence-complexe></app-arborescence-complexe>
</div>
<div class="pt-4 position-relative mb-4">
  <h3>Onglet de premier niveau avec navigation</h3>
  <app-onglet-premier-niveau-navigation></app-onglet-premier-niveau-navigation>
</div>
<div class="mb-4">
  <h3>Badge dans le wizard</h3>
  <app-badges-wizard></app-badges-wizard>
</div>
<div class="mb-4">
  <h3>Zone pliable/dépliable</h3>
  <app-zone-pliable-depliable-sample></app-zone-pliable-depliable-sample>
</div>





