<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch1" [formControl]="form.get('switch1')" >
  <label class="form-check-label" for="switch1">Label action interrupteur</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch2" [formControl]="form.get('switch2')" >
  <label class="form-check-label" for="switch2">Label action interrupteur</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch3" [formControl]="form.get('switch3')" >
  <label class="form-check-label" for="switch3">Label action interrupteur</label>
</div>

<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" id="switch4" [formControl]="form.get('switch4')" >
  <label class="form-check-label" for="switch4">Label action interrupteur</label>
</div>