<h2>Onglets</h2>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de premier niveau</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-premier-niveau></app-onglet-premier-niveau>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de premier niveau avec icônes</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-premier-niveau-icone></app-onglet-premier-niveau-icone>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de deuxième niveau</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-deuxieme-niveau></app-onglet-deuxieme-niveau>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de premier niveau avec navigation</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-premier-niveau-navigation></app-onglet-premier-niveau-navigation>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de deuxième niveau avec navigation</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-deuxieme-niveau-navigation></app-onglet-deuxieme-niveau-navigation>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body p-0">
    <h3 class="mt-3 pt-1 mx-3 px-1">Onglet de premier niveau avec icône et navigation</h3>
    <div class="bloc-exemple">
      <p>
        <app-onglet-premier-niveau-icone-navigation></app-onglet-premier-niveau-icone-navigation>
      </p>
    </div>
  </div>
</div>