<svg-icon class="error-form-icon" src="assets/icones-projets/GA/d_calendar.svg" [svgStyle]="{ 'width.em': 2.308, 'height.em': 2.769}"></svg-icon>
<div>
  <app-label-valeur [label]="'Date de décès'" [valeur]="'10/02/2021'" [labelWidth]="labelWidth" [fillInput]="true"></app-label-valeur>
  <app-label-valeur [label]="'Source de décès'" [valeur]="'SNGI'" [labelWidth]="labelWidth" [fillInput]="true"></app-label-valeur>
  <app-label-valeur [label]="'Indice de certification de décès'" [valeur]="'Décès présumé disparu'" [labelWidth]="labelWidth" [fillInput]="true"></app-label-valeur>
</div>