<h2>Tableau</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Tableau simple</h3>
    <div class="bloc-exemple">
      <p>
        <app-tableau-simple></app-tableau-simple>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Tableau avec tri, filtre et pagination</h3>
    <div class="bloc-exemple">
      <p>
        <app-tableau-tri-filtre-pagination></app-tableau-tri-filtre-pagination>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Tableau imbriqué</h3>
    <div class="bloc-exemple">
      <p>
        <app-tableau-imbrique></app-tableau-imbrique>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Tableau dépliable et multi-entête</h3>
    <div class="bloc-exemple">
      <p>
        <app-tableau-depliable-multi-entete></app-tableau-depliable-multi-entete>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Tableau modifiable</h3>
    <div class="bloc-exemple">
      <p>
        <app-tableau-modifiable></app-tableau-modifiable>
      </p>
    </div>
  </div>
</div>
