<h2>Popup</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup de base</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-sample></app-popup-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup à 3 boutons</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-trois-boutons></app-popup-trois-boutons>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup avec commentaire</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-commentaire></app-popup-commentaire>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup avec formulaire</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-formulaire></app-popup-formulaire>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup longue</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-longue></app-popup-longue>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup d'erreur</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-erreur></app-popup-erreur>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup de progression</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-progression></app-popup-progression>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup avec tableau</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-tableau></app-popup-tableau>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Popup avec bandeau d'erreur</h3>
    <div class="bloc-exemple">
      <p>
        <app-popup-bandeau-erreur></app-popup-bandeau-erreur>
      </p>
    </div>
  </div>
</div>