.icon-b_refresh {
  font-size: 1.286rem; // 18px
  position: relative;
  top: 0.143rem; // 2px
}

.first-input-width {
 width: 4.357rem; // 61px
}

.second-input-width {
  width: 5.786rem; // 81px
}

.third-input-width {
  width: 5.786rem; // 81px
}