<h2>Icônes</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Icônes font</h3>
    <div class="bloc-exemple">
      <p>
        <app-icones></app-icones>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Icônes showcase</h3>
    <div class="bloc-exemple">
      <p>
        <app-icones-showcase></app-icones-showcase>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Icônes menu PORA</h3>
    <div class="bloc-exemple">
      <p>
        <app-icones-projet-pora></app-icones-projet-pora>
      </p>
    </div>
  </div>
</div>


<div class="card mb-3">
  <div class="card-body">
    <h3>Icônes projet GA</h3>
    <div class="bloc-exemple">
      <p>
        <app-icones-projet-ga></app-icones-projet-ga>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Icônes projet RAF</h3>
    <div class="bloc-exemple">
      <p>
        <app-icones-projet-raf></app-icones-projet-raf>
      </p>
    </div>
  </div>
</div>
