// CSS spécifique à la page
.btn-outline-secondary {
  font-size: 0.929rem; // 13px
  margin-left: -1.071rem; // -15px
  margin-top: 0.116rem; // 1.625px
  height: 1.857rem; // 26px
  width: initial;
}
