<h2>Notes</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note de confirmation</h3>
    <div class="bloc-exemple">
      <p>
        <app-notes-de-confirmation></app-notes-de-confirmation>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note d'information</h3>
    <div class="bloc-exemple">
      <p>
        <app-note-information></app-note-information>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note d'avertissement</h3>
    <div class="bloc-exemple">
      <p>
        <app-note-avertissement></app-note-avertissement>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note d'erreur</h3>
    <div class="bloc-exemple">
      <p>
        <app-note-erreur></app-note-erreur>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note d'erreur de données</h3>
    <div class="bloc-exemple">
      <p>
        <app-note-erreur-donnees></app-note-erreur-donnees>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Notes - Note de process</h3>
    <div class="bloc-exemple">
      <p>
        <app-note-process></app-note-process>
      </p>
    </div>
  </div>
</div>