<h2>Champ de saisie</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Champ de saisie</h3>
    <div class="bloc-exemple">
      <p>
        <app-champ-de-saisie-sample></app-champ-de-saisie-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Champ de saisie en auto-complétion</h3>
    <div class="bloc-exemple">
      <p>
        <app-champ-de-saisie-auto-completion-sample></app-champ-de-saisie-auto-completion-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Champ de saisie multiligne</h3>
    <div class="bloc-exemple">
      <p>
        <app-champ-de-saisie-multiligne-sample></app-champ-de-saisie-multiligne-sample>
      </p>
    </div>
  </div>
</div>
