<div class="row">
  <div class="col-5">
    <app-champ-de-saisie [label]="'Adresse mail *'" [index]="0" [form]="formMoyensDeContact.get('adresseMail')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>   
    <app-champ-de-saisie [label]="'Téléphone mobile'" [index]="1" [form]="formMoyensDeContact.get('telephoneMobile')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>  
    <app-champ-de-saisie [label]="'Téléphone fixe'" [index]="2" [form]="formMoyensDeContact.get('telephoneFixe')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>  
  </div>
</div>