<div class="row">
  <div class="col-5">
    <app-champ-de-saisie [label]="'Adresse *'" [index]="0" [form]="formAdresse.get('adresse')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>   
    <app-champ-de-saisie [label]="'Code postal *'" [index]="1" [form]="formAdresse.get('codePostal')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>  
    <app-champ-de-saisie [label]="'Ville *'" [index]="2" [form]="formAdresse.get('ville')" [labelWidth]="labelWidthMoyenDeContact" [isError]="true" [errorMessage]="errorMessage"></app-champ-de-saisie>  
  </div>
</div>