<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <!-- RÉTROCOMPATIBILITÉ : Remplacer la class icon-fleche_ariane par icon-b_left_arrow -->
      <a class="fleche-back d-flex align-items-center" ><em class="icon-b_left_arrow"></em></a>
    </li>
    <li class="breadcrumb-item"><a href="/"><u>Accueil établissement</u></a></li>
    <li class="breadcrumb-item"><a href="#"><u>Synthèse du compte</u></a></li>
    <li class="breadcrumb-item"><a href="#"><u>Liste des pièces justificative de débit</u></a></li>
    <li class="breadcrumb-item active" aria-current="page">Détail d'une PJD</li>
  </ol>
</nav>