<h2>Boutons</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Bouton de validation</h3>
    <div class="bloc-exemple">
      <p>
        <app-bouton-premier-niveau></app-bouton-premier-niveau>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Bouton d'action</h3>
    <div class="bloc-exemple">
      <p>
        <app-bouton-deuxieme-niveau></app-bouton-deuxieme-niveau>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Bouton d'action à choix multiples</h3>
    <div class="bloc-exemple">
      <p>
        <app-bouton-choix-multiples-sample></app-bouton-choix-multiples-sample>
      </p>
    </div>
  </div>
</div>