<h2>Arborescence</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Arborescence simple</h3>
    <div class="bloc-exemple">
      <p>
        <app-arborescence-simple></app-arborescence-simple>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Arborescence avec cases à cocher</h3>
    <div class="bloc-exemple">
      <p>
        <app-arborescence-sample></app-arborescence-sample>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Arborescence complexe</h3>
    <div class="bloc-exemple">
      <p>
        <app-arborescence-complexe></app-arborescence-complexe>
      </p>
    </div>
  </div>
</div>
