<h2>Champ de saisie date</h2>

<div class="card mb-3">
  <div class="card-body">
    <h3>Champ de saisie date</h3>
    <div class="bloc-exemple">
      <p>
        <app-champ-de-saisie-date></app-champ-de-saisie-date>
      </p>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <h3>Saisie d'un intervalle de dates</h3>
    <div class="bloc-exemple">
      <p>
        <app-champ-de-saisie-date-intervalle-sample></app-champ-de-saisie-date-intervalle-sample>
      </p>
    </div>
  </div>
</div>
