<!-- RÉTROCOMPATIBILITÉ : Ajouter une div avec comme classe button-group -->
<div class="button-group">
  <!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-secondary -->
  <button type="button" class="btn btn-secondary">
    Supprimer ligne
  </button>
  <!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-secondary -->
  <button type="button" class="btn btn-secondary">
    Modifier ligne
  </button>
</div>

<br />

<!-- RÉTROCOMPATIBILITÉ : Ajouter une div avec comme classe button-group -->
<div class="button-group">
  <!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-secondary -->
  <button type="button" class="btn btn-secondary" disabled>
    Supprimer ligne
  </button>
  <!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-secondary -->
  <button type="button" class="btn btn-secondary" disabled>
    Modifier ligne
  </button>
</div>

<br />

<!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-outline-secondary -->
<button type="button" class="btn btn-outline-secondary">
  Accéder contenu
</button>

<br /> <br />

<!-- RÉTROCOMPATIBILITÉ : Ajouter la classe btn-outline-secondary -->
<button type="button" class="btn btn-outline-secondary" disabled>
  Accéder contenu
</button>
