<div class="mb-2">
  <a [routerLink]="[]">Lien hypertexte</a>
</div>

<div class="bluePanel mb-4">
  <a [routerLink]="[]">Lien hypertexte</a>
</div>

<div>
  Lors de l'utilisation de liens hypertextes, il y a plusieurs règles de soulignement à respecter :
  <ul>
    <li>Tous les liens sont soulignés par défaut.</li>
    <li>Par convention, dans un tableau où il y a un lien dans chacune des cellules, il est permis de ne pas souligner 
      ces liens, afin ne pas nuire à la lisibilité. Ils doivent en revanche être identifiés en gras et 
      apparaître souligné au survol. La même règle s'applique sur les tableaux de bord, qui présentent en général 
      de nombreux liens cliquables.</li>
    <li>Le lien hypertexte peut être associé à un chiffre ou une donnée et permet à l’utilisateur de visualiser le 
      détail ou la provenance de cette donnée. Dans certains cas, afin de mettre plus en évidence le fait que 
      l’utilisateur va quitter l’écran sur lequel il se trouve, on peut être amené à utiliser le label « Voir + 
      [détail] » sous la forme d’un lien hypertexte, au lieu de mettre le lien directement sur le chiffre ou 
      la donnée concernée.</li>
  </ul>
</div>